wj-flex-grid {
  background-color: aqua;
}

/* component.scss (or global styles) */
::ng-deep .wj-flexgrid .wj-cell[aria-selected="true"] {
  background-color: #4c7aa8 !important;
  color: white;
}

.wj-cell {
  text-align: left;
  line-height: 40px;
  height: 40px;
}

.clients-list-dialog {
  &::part(control) {
    min-width: 90%;
  }
}

.clients-delete-dialog {
  &::part(overlay) {
    z-index: 1000;
  }
}

.tools {
  display: flex;
  line-height: 42px;
  margin-top: 16px;
}

.selected-items-text {
  text-align: right;
  margin-left: auto;
}
